<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>관리 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h1>상품 관리</h1>
        <div class="col">
            <div class="row m-3">
                <div class="col-auto">
                    <input type="text" class="form-control" id="inputPassword2" placeholder="검색어를 입력해주세요.">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">검색</button>
                </div>
                <div class="col-auto">
                    <a href="product/create" class="btn btn-primary mb-3" id="createBtn">상품 추가</a>
                </div>
            </div>
            <div class="row">
                <!-- 상품 목록 -->
                <div class="col m-3 card">
                    <div class="card-header">
                        <h5>상품 목록</h5>
                    </div>
                    <div class="card-body">
                        <div class="overflow-auto" id="menu-list" style="height: 450px">
                            <!-- 상품 테이블 들어갈 자리-->
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">카테고리</th>
                                    <th scope="col">이름</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="menu:${menus}">
                                    <td th:text="${menu.category}">category</td>
                                    <td th:text="${menu.name}" th:menu_id="${menu.id}" th:onclick="productDetail(this.getAttribute('menu_id'))">name</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- 상품 정보 -->
                <div class="col m-3 card visually-hidden" id="product-info">
                    <div class="card-header d-flex justify-content-between">
                        <h4>상품 정보</h4>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-danger" id="deleteBtn" >삭제</button>
                            <button class="btn btn-primary" id="editBtn">수정</button>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="col">
                            <div class="row">
                                <div class="col-5">
                                    <img id="detail-image" class="img-thumbnail" alt="...">
                                </div>
                                <div class="col-auto">
                                    <div class="row-auto">
                                    <label>카테고리</label>
                                    <span id="detail-category">카테고리</span>
                                </div>
                                <div class="row-auto">
                                    <label>이름</label>
                                    <span id="detail-name">이름</span>
                                </div>
                                <div class="row-auto">
                                    <label>가격</label>
                                    <span id="detail-price">가격</span>
                                </div>
                                <div class="row-auto">
                                    <label>옵션</label>
                                    <span class="options">옵션</span>
                                </div>

                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row-auto">
                                    <label>설명</label>
                                    <span class="description">설명</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        const editBtn = document.getElementById('editBtn');
        const createBtn = document.getElementById('createBtn');
        const deleteBtn = document.getElementById('deleteBtn');
        const productCreate = document.getElementById('product-create');
        const productEdit = document.getElementById('product-edit');
        const productInfo = document.getElementById('product-info');

        function productDetail(id) {
            if(productInfo.classList.contains('visually-hidden')) {
                productInfo.classList.remove('visually-hidden');
            }
            else {
                productInfo.classList.add('visually-hidden');
            }

            getProductDetail(id);

            deleteBtn.addEventListener('click', () => {
                deleteProduct(id);
            })

        }

        function getProductDetail(id) {
            axios.get(`/api/menus/${id}`)
                .then(response => {
                    console.log("조회 성공" + response);
                    const menu = response.data;
                    document.getElementById('detail-category').innerText = menu.category;
                    document.getElementById('detail-name').innerText = menu.name;
                    document.getElementById('detail-price').innerText = menu.price;
                    document.getElementById('detail-image').src = menu.imagePath;
                    editBtn.addEventListener('click', () => {
                        window.location.href=`product/edit/${menu.id}`;
                    });
                })
                .catch(error => {
                    console.log("조회 실패" + error);
                })
        }
        function deleteProduct(id) {
            axios.delete(`/api/menus/${id}`)
                .then(response => {
                    console.log('삭제 성공');
                    location.reload();
                    alert('삭제되었습니다.')

                })
                .catch(error => {
                    console.log('삭제 실패');
                })
        }


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>